<div>
  <div class="filters form-inline">
    <label for="browse-filters">Type</label>
    <select ng-model="filters.type" class="form-control" id="browse-filters">
      <option value="all" selected="selected">All</option>
      <option value="image">Image</option>
      <option value="video">Video</option>
      <option value="audio">Audio</option>
      <option value="document">Document</option>
    </select>
    <label for="browse-search">Search</label>
    <input type="text" ng-model="filters.name" class="form-control" id="browse-search" />
    <input type="submit" value="Submit" class="btn btn-primary" ng-click="updateFilters($event)" />
  </div>
  <div class="browser">
    <div class="sidebar" ng-if="active">
      <div class="preview"><img src="{{active.previewUrl}}" /></div>
      <strong><a href ng-href="{{active.info.photo.urls.url[0]._content}}" target="_blank">{{active.name}}</a></strong>
      <!--<div>{{active.size.width}} x {{active.size.height}}</div>-->
      <div><a href ng-href="{{active.license.url}}" target="_blank">{{active.license.name}}</a></div>
      <div ng-if="active.info.photo.dates.taken">Taken: {{active.info.photo.dates.taken}}</div>
      <button class="btn bottom-right" ng-class="selected ? 'btn-success' : 'btn-disabled'" ng-click="submit($event)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
    </div>
    <div class="scroll-wrapper" ng-class="{active: active}">
      <div class="items" infinite-scroll="addItems()" infinite-scroll-distance=".1">
        <div ng-repeat="file in items" ng-click="updateActive(file)" ng-class="{active: file.active}" class="thumbnail">
          <div thumbnails></div>
          <a href class="thumbnail-title">{{file.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>