<div>
  <div class="upload browser" >
    
    <div class="sidebar">
      <strong>Upload Progress</strong>
      <div ng-if="!uploader.queue" class="empty">No file selected</div>
      
      <div class="queue">
        <div class="queue-item" ng-repeat="(key, item) in uploader.queue" ng-click="fileDetails(key, item)" ng-class="key == activeKey ? 'active' : ''">
          <!--<img ng-src="{{item.croppedImage}}" />-->
          <div ng-if="item.showThumb" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 40 }" class="file-thumb"></div>
          <a href class="file-name">{{ item.file.name }}</a>
          <div class="file-size">{{ item.file.size/1024/1024|number:2 }} MB</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </div>
      </div>

      <button class="btn bottom-right" ng-class="uploader.queue ? 'btn-success' : 'btn-disabled'" ng-click="submit($event)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
    </div>

    <div class="left">
      
      <div ng-class="{'upload-active': uploading}" ng-if="!file" class="drop-zone" nv-file-drop="" uploader="uploader">
        <div class="drop-label"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Drop files here</div>
        <div class="or">or</div>
        <div>
          <input type="file" nv-file-select="" uploader="uploader" multiple class="file-upload"  />
        </div>
        <div class="or">or</div>
        <div>
          <div class="form form-inline">
            <input type="text" class="form-control" id="externalFile" ng-model="externalFile" placeholder="http://">
            <button class="btn btn-primary" ng-click="fetch($event)">Fetch</button>
          </div>
          <div class="description">Enter the url of a video, image or document (https://www.youtube.com/watch?v=iy3QS3vO0ag or http://www.analysis.im/uploads/seminar/pdf-sample.pdf)</div>
        </div>
      </div>

      <div ng-if="file" edit-form overwrite-only class="file-details"></div>

    </div>
  </div>
</div>